@model LabbOmFotboll.Models.Fotbollspelare

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera spelare</h1>

<h3>Är du säker på att du vill radera följande spelare?</h3>
<div>
    <h4>Fotbollspelare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Langd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Langd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vikt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vikt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lag.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till lista</a>
    </form>
</div>
